
# Python

__pycache__/
*.py[cod]
*.pyo


# Virtual Environment

.venv/
venv/
env/


# PyCharm

.idea/


# Build

build/
dist/


# Python Packaging

*.egg-info/


# Operating System

.DS_Store
Thumbs.db

#config
config.json

#test
test.m4a
test1.m4a
output/

#FFmpeg binaries
tools/