
# Python

__pycache__/
*.py[cod]
*.pyo


# Virtual Environment

.venv/
venv/
env/


# PyCharm

.idea/


# Build

build/
dist/


# Python Packaging

*.egg-info/


# Operating System

.DS_Store
Thumbs.db